@model ReleaseMan.Models.Release

@{
    ViewBag.Title = "Details";
}
    <p>
    @Html.ActionLink("All Projects /", "Index", "Project", null, null)
    @Html.ActionLink("Details /", "Details", "Project", new { id = Model.ID } , null)
    @Html.ActionLink("Release /", "Details", "Release", new { id = Model.ID } , null)
    </p>
<h2>Project: @Html.DisplayFor(model => model.Project.Name)</h2>

<h3>Release: @Html.DisplayFor(model => model.Name)</h3>

<p>
    @Html.ActionLink("Edit release details", "Edit", new { id=Model.ID })
</p>

<div>
    <h3>Release stories:</h3>
    <ul>
    @foreach (var item in Model.Stories)
    {
        <li>
            <h4>Story: @Html.DisplayFor(modelItem => item.Name)</h4>
            <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
        </li>
    }
    </ul>
</div>