@model ReleaseMan.Models.Project

@{
    ViewBag.Title = "Details";
}

<p>@Html.ActionLink("Create New Release", "Create", "Release")</p>

<h2>Project: @Html.DisplayFor(model => model.Name)</h2>

<p>Project description: @Html.DisplayFor(model => model.Description)</p>

<div>
    <h3>Releases:</h3>

    <ul>
        @foreach (var item in Model.Releases)
        {
            
            

        <li>

        @Html.DisplayFor(modelItem => item.Name)
        @Html.ActionLink("Edit", "Edit", "Release", new { id=item.ID }, null)
        @Html.ActionLink("Details", "Details", "Release", new { id = item.ID }, null)
        @Html.ActionLink("Delete", "Delete", "Release", new { id = item.ID }, new { onclick = "return confirm('Sure you want to delete?');"})
        </li>

        }


    </ul>

</div>