@model ReleaseMan.Models.Project

@{
    ViewBag.Title = "Details";
}
<div class="clear"></div>
<div class="grid_12"><hr /></div>
<div class="clear"></div>

<div class="grid_8 secondary-actions">
    <h2>Project: @Html.DisplayFor(model => model.Name)</h2>
    <p>Project description: @Html.DisplayFor(model => model.Description)</p>
</div>
<div class="grid_4 secondary-actions">
    <p>
        @Html.ActionLink("+ Release", "Create", "Release", new {id = Model.ID }, new {@class = "buttonlink right" })
        @Html.ActionLink("Manage releases", "Manage", "Project", new {id = Model.ID }, new {@class = "buttonlink right" })
    </p>
</div>

<div class="clear"></div>
<div class="grid_12"><hr /></div>
<div class="clear"></div>

<div class="grid_12">
<ul class="item-list">
    <li>
    <h3>Overall progress:</h3>
    <div class="bar-wrap"><div class="bar" style="width: 95%;"><p class="center">95&#37;</p></div></div>
		<h3>Timeline:</h3>
		<div class="bar-wrap">
			<div class="bar" style="width: 20%;"><p class="center">Release 1</p></div>
			<div class="bar" style="width: 10%; margin-left: 20%;"><p class="center">Release 2</p></div>
			<div class="bar" style="width: 30%; margin-left: 30%;"><p class="center">Release 3</p></div>
			<div class="bar" style="width: 40%; margin-left: 60%;"><p class="center">Release 4</p></div>
		</div>
    </li>
    </ul>
</div>
<div class="grid_12">
    <ul class="item-list">
        @foreach (var item in Model.Releases)
        {
        <li>
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <div class="bar-wrap"><div class="bar" style="width: 30%;"><p class="center">12&#37;</p></div></div>
            @Html.ActionLink("Edit", "Edit", "Release", new { id = item.ID }, new { @class = "buttonlink right" })
            @Html.ActionLink("Details", "Details", "Release", new { id = item.ID }, new { @class = "buttonlink right" })
            @Html.ActionLink("Delete", "Delete", "Release", new { id = item.ID }, new { @class = "buttonlink right", onclick = "return confirm('Sure you want to delete?');" })
        </li>
        }
    </ul>
</div>