@model IEnumerable<ReleaseMan.Models.Project>
@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Projects</h2>

<div>
    <ul>
    @foreach (var item in Model)
    {
        <li>
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
            @Html.ActionLink("Details", "Details", new { id=item.ID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { onclick = "return confirm('Sure you want to delete?');"})
        </li>
    }
    </ul>
</div>