@model IEnumerable<ReleaseMan.Models.Story>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Release
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
        </th>
    </tr>
</table>
@foreach (var item in Model)
{
    <p> 
        @Html.DisplayFor(modelItem => item.Release.Name)
        @Html.DisplayFor(modelItem => item.Name)
        @Html.DisplayFor(modelItem => item.Description)
    </p>
    
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        @Html.ActionLink("Details", "Details", new { id = item.ID })
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </p>
}
